body {
  background-color: lightblue;
}

.landmarks-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.landmark-card {
    background-color: white;
    border-radius: 7px;
    border-width: 2px;
    border-color: white;
    width: 30%;
    text-align: center;
    margin-top: 20px;
    
}

@media (max-width: 768px) {
  .landmark-card {
    width: 45%;
  }
}

@media (max-width: 480px) {
  .landmark-card {
    width: 90%;
  }
}

.landmark-image {
  width: 100%;          
  height: 300px;       
  object-fit: cover;  
  border-radius: 7px 7px 0 0;
  display: block;
}

.landmark-title {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  color: black;
  text-decoration: none;
  margin: 0.5rem;
}

.landmark-title:hover{
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.desc {
  margin: 1rem
}