body {
  background-color: blue;
}

.stats-container {
    display: flex;
    align-items: center;
}

.stats-card {
    background-color: lightblue;
    border-radius: 7px;
    padding: 1%;
    margin: 1%;
    width: 100%;
    text-align: center;
}
